{% extends 'base.html.twig' %}

{% block title %}Hello IdeaController!{% endblock %}

{% block main %}
    <h1> list des idées !</h1>

    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">idée n°</th>
                <th scope="col">titre</th>
                <th scope="col">decription</th>
                <th scope="col">Auteur</th>
                <th scope="col">Date de création</th>
            </tr>
            </thead>
            <tbody>
            {% for i in idea %}
            <tr class="table-secondary">
                <th scope="row">{{i.id}}</th>
                <td>{{ i.title }}</td>
                <td>{{ i.description }}</td>
                <td>{{ i.author }}</td>
                <td>{{ i.dateCreated | date("d/m/y") }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}